mode = "hold"

[remap]
chord_timeout = 25 # milliseconds

[remap.main]
"a+s" = "super"
"s+d" = "ctrl"
"i+o" = "ctrl"
"u+i" = "super"
"a+f" = "escape"
"d+f" = "free_mouse" 
"w+e" = "layer(nav)"
capslock = "timeout(layer(control), 175, layer(nav))"

[remap.layers.nav]
h = "left"
j = "down"
k = "up"
l = "right"
